*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration:none;
} 
 nav{
	display: flex;
	flex-direction: row;
	justify-content:flex-end; 
	margin-top: 40px;
    text-decoration:none;
    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
}
.LogoFirst{

}
.LogoSecond{
    
}